[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
click = "*"
attrs = "*"
hug = "*"
"jinja2" = "==2.10"
maya = "*"
simplejson = "*"
redis = "*"
gunicorn = "*"
flask = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "==18.9b0"
mypy = "*"

[requires]
python_version = "3.7"
