[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
click = "*"
attrs = "*"
maya = "*"
simplejson = "*"
redis = "*"
gunicorn = "*"
flask = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
